fastapi
uvicorn
google-generativeai
python-dotenv
jinja2
python-multipart
requests
beautifulsoup4
pdfplumber
playwright
slowapi
faiss-cpu
numpy
pydantic-settings
pytest
httpx
rank_bm25
matplotlib
sentence-transformers
pandas
